
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------POPUP----------------- */

.popup {
  position: absolute;
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  background-color: #679186;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  /* display: none; */
}

.popup>p {
  height: 16px;
}

.loginForm {
  margin: 20px;
  width: 60%;
}

.loginLabel {
  display: flex;
  justify-content: space-between;
}

.loginFormBtns {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 10px;
}

.loginFormBtns button {
  font-size: 1.1rem;
  display: flex;
  width: auto;
  padding: auto;
}

.popUpBtn {
  position: absolute;
  width: auto;
  top:6%;
  left: calc(75% - 46px);
}

.loginBtn {
  background-color: rgb(62, 204, 252);
}

.logOutBtn {
  background-color: rgb(253, 71, 71);
}

/* ----------------------CONTAINERS----------------- */

body, #root{
  padding: 0%;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100vw;
}
#root-child{
  position: relative;
  height: 100vh;
  display: flex;
  /* display: grid;
 align-items: center;
 grid-template-rows: repeat(14, 1fr); */
 /* grid-template-columns: repeat(4, 1fr); */
 /* grid-template-rows: 1fr, 12fr, 1fr  */
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
#header{
  position: static;
  top:0;
  /* margin: 0%;
  grid-row: 0;
  grid-column: 1/5; */
  display: flex;
  background-color: #679186;
  width:100vw;
  height: 5%;
  justify-content: center;
  align-items: center;
  color: white;
}
h1{
  font-size: 2rem;
}
footer{
  position: relative;
  display: flex;
  bottom: 0;
  /* grid-row: 14;
  grid-column: 1/5; */
  border-top: 2px solid   #264e70;
  width: 95vw;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  align-items: center;
  color: rgb(60, 60, 60);
}
#main_container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height:70% 
}

/*------------------ FORMS ----------------- */

#datatype_selector {
  display: grid;
  padding: 1rem;
  height: 30%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

#new_data_type{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  background-color:#fdebd3 ;
  border:1px solid rgb(172, 172, 172);
  border-radius: 5px;
  display: flex;
  margin: .5rem;
  padding: .5rem; 
  color: rgb(60, 60, 60)
}
#new_data_type > button{
  border: none;
  background-color:#fdebd3;
  
}
#text_box_and_copy{
  height: 80%; 
  position: relative;
  padding-top : 10em
}
/* height: 80%;   change to 60% */

/*add padding-top : 10em*/

#text_output{
  width:100%;
  height:100%;
}
#form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#dataSelect{
  height: 2rem;
  width: 50%
}
#quantity_selector{
  height: 1.5rem;
  margin-left: 0.5rem;
}
a{
  text-decoration: none;
  color: #264e70;
}
a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
 body{
  align-items: center;
 }
  #form{
  flex-direction: column;
 }
  #main_container{
    width: 80vw
  }
}

/* ---------------------BUTTONS--------------------- */
#add_and_submit{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 20px;
}

#add_button, #submit_button{
  width: 10rem;
  height: 2rem
}

button{
  width: 1.5rem;
  height: 1.5rem;
  background-color: #bbd4ce;
  border: .5px solid rgb(172, 172, 172);
  border-radius: 5px;
  color: rgb(60, 60, 60);
}
button:hover{
  /* background-color:#679186 */
  filter: brightness(80%);
}
button:active{
  color: black;
  border: 1px solid black
}

#copy{
  position: absolute;
  z-index: 10;
  top: 13em;
  right:0px;
  width: 2rem;
  height: 2rem;
  /* padding-top: 10em */
}


/* X Button styling */
.X-button {

  color: rgb(60, 60, 60);
 
  transition: all 125ms linear;
}

.X-button:hover {
  color: #679186;
  cursor: pointer;
  text-shadow: #679186 1px 0 1px;
  transform: scale(1.2);
}

.type-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-row-gap: 15px
}

/* #type-button {
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-size: 95%;
} */

#add_to_favorites{
  width: 7rem;
  height: 3rem;
}
#submit_favorites{
  width: 7rem;
  height: 3rem;
}
#clear_selection{
  width: 7rem;
  height: 3rem;
}


.type-button {
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-size: 95%;
}

#clicked {
  background-color: rgb(168, 190, 247);
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-size: 95%;
}





